{% extends 'base.html.twig' %}

{% block title %}New Intern{% endblock %}

{% block body %}
<main class="container py-4">
    <h1 class="h3 mb-3 fw-normal">Create New Intern</h1>

    {{ include('intern/_form.html.twig', {'button_label': 'Create'}) }}

    <div class="d-flex justify-content-start gap-2 my-3">
        <a href="{{ path('app_intern_index') }}" class="btn btn-outline-primary">Back to List</a>
    </div>
</main>
{% endblock %}
